.MenuNavigation-container {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

@media (min-width: 1366px) {
    .MenuNavigation-container {
        display: flex;
    }
}

@media (min-width: 1578px) {
    .MenuNavigation-container {
        width: 30%;
    }
}

@media (min-width: 1920px) {
    .MenuNavigation-container {
        font-size: 1.4em;
    }
}

.Navigation-title {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.Navigation-title a {
    margin: 0;
    font-weight: bold;
    color: #F5C662;
    cursor: pointer;
}

.Navigation-title p:hover {
    color: #c03d3f;
}

.Navigation-icons {
    display: flex;
    justify-content: space-between;
    width: 15%;
    color: #991C1E;
}

.Navigation-icons svg {
    cursor: pointer;
}

@media (min-width: 1578px) {
    .Navigation-icons > svg {
        font-size: 2em;
    }
}