.Burger-container {
    background-color: #991C1E;
}

.Burger-subContainer--mobile {
    background-color: #991C1E;
}

@media (min-width: 768px) {
    .Burger-subContainer--mobile {
        display: none;
    }
}

.Burger-subContainer--mobile h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.6em;
    color: #F5C662;
    position: relative;
}

.Burger-subContainer--mobile div:nth-child(3) img {
    margin-top: -67px;
}

.Burger-subContainer--mobile img {
    max-width: 100%;
    margin-top: -34px;
}

.Burger-subContainer {
    display: none;
}

.Burger-subContainer > div {
    top: 20px;
}

.Burger-subContainer h1 {
    margin: 0;
}

@media (min-width: 768px) {
    .Burger-subContainer {
        display: block;
    }
}

.Burger-blockOne {
    background: url('../../assets/images/burger-bg.jpg') 50% / cover no-repeat fixed;
        background-color: rgba(221, 216, 216, 0.288);
        background-blend-mode: overlay;
}

@media (min-width:1200px) {

}

.Burger-blockOne > div {
    width: 50%;
    margin-left: 25%;
    padding-top: 20px;
    text-align: center;
}

@media (min-width:1200px) {
    .Burger-blockOne > div {
        width: 90%;
        margin-left: 5%;
    }

    .Burger-blockOne--sub {
        display: flex;
        justify-content: space-between;
    }

    .Burger-blockOne--sub:first-of-type > div {
        order: 2;
    }
}

.Burger-header {
    background-color: #d3971525;
}

.Burger-header h1 {
    color: #F5C662;
    margin: 0;
    font-size: 1.9em;
}

.Burger-header .Header-pizza {
    color: #991C1E;
}

.Burger-header p {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #fff;
}

@media (min-width:1200px) {
    .Burger-header {
        background-color: #d3971525;
        height: 50%;
        width: 49%;
        text-align: left;
        padding-left: 5px;
    }
}

.Burger-blockOne--sub img {
    max-width: 100%;
    margin-bottom: 30px;
}

.Burger-blockOne--sub img:nth-of-type(2) {
    display: none;
}

@media (min-width:1200px) {
    .Burger-blockOne--sub img:first-of-type {
        display: none;
    }

    .Burger-blockOne--sub img:nth-of-type(2) {
        display: block;
        max-width: 49%;
    }
}

.Burger-blockTwo {
    background-color: #3E2113;
}

.Burger-blockTwo > div {
    width: 90%;
    margin-left: 5%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

@media (min-width:1200px) {
    .Burger-blockTwo {
        height: 65vh;
    }

    .Burger-blockTwo > div {
        padding-top: 6.5%;
    }
}

.Burger-header--lanches {
    margin-right: 10px;
}

@media (min-width:1200px) {
    .Burger-header--lanches {
        text-align: center;
    }
}

.Burger-blockTwo h1 {
    color: #F5C662;
}

.Burger-blockTwo p {
    font-size: 1.2em;
    color: #fff;
}

.Burger-blockTwo img {
    max-width: 50%;
    margin-bottom: 30px;
}

.Burger-blockTwo  img:nth-of-type(2) {
    display: none;
}

@media (min-width:1200px) {
    .Burger-blockTwo  img:first-of-type {
        display: none;
    }

    .Burger-blockTwo  img:nth-of-type(2) {
        display: block;
        max-width: 49%;
    }
}