.Menu-container {
    background: url('../../assets/images/menu_bg.jpg') 50% 0 / cover no-repeat;
    height: 50vh;
    overflow: hidden;
}

.Menu-container > h1 {
    color: #F5C662;
    margin: 0;
    text-align: center;
}

/* TEMPORÃRIO */
.Menu-container > p {
    color: #FFF;
}



/* .Menu-header {
    width: 100%;
} */