.Menu-container {
    /* background: url('../../assets/images/menu_bg.jpg') 50% 0 / cover no-repeat; */
    background-color: #3E2113;
    height: 50vh;
    overflow: hidden;
}

@media (min-width:1200px) {
    .Menu-container {
        height: 80vh;
    }
}

.Menu-container > h1 {
    color: #F5C662;
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

@media (min-width:1200px) {
    .Menu-container > h1 {
        margin-top: 50px;
    }

    .Menu-container > h1:after {
        content: ""; 
        display: block;
        margin: 0 auto; 
        width: 15%;
        padding-top: 5px;
        border-bottom: 1px solid #F5C662; 
    }
}


/* TEMPORÃRIO */
.Menu-container > p {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}

