.Menu-container {
    background-color: #3E2113;
    overflow: hidden;
}

@media (min-width:1200px) {
    .Menu-container {
        height: 80vh;
    }
}

@media (min-width:1578px) {
    .Menu-container {
        height: 95vh;
    }
}

.Menu-container > h1 {
    color: #F5C662;
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

@media (min-width:1200px) {
    .Menu-container > h1 {
        margin-top: 50px;
    }

    .Menu-container > h1:after {
        content: ""; 
        display: block;
        margin: 0 auto; 
        width: 15%;
        padding-top: 5px;
        border-bottom: 1px solid #F5C662; 
    }
}

@media (min-width:1578px) {
    .Menu-container > h1 {
        font-size: 3em;
    }
}

.Menu-container > p {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    display: none;
}

@media (min-width:768px) {
    .Menu-container > p {
        display: block;
    }
}

@media (min-width:1578px) {
    .Menu-container > p {
        font-size: 1.4em;
    }
}
