.Navigation-container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}

@media (min-width: 1200px) {
    .Navigation-container {
        position: absolute;
        top: 20px;
        width: 94%;
        margin-left: 3%;
        justify-content: space-between;
    }
}