.Contact-container {
    background-color: #991C1E;
    color: #F5C662;
}

@media (min-width:1366px) {
    .Contact-container {
        height: 95vh;
        display: flex;
        align-items: center;
    }
}

@media (min-width:1578px) {
    .Contact-container {
        height: 85vh;
    }
}

.Contact-subContainer {
    margin: 0 10px;
}

@media (min-width:1366px) {
    .Contact-subContainer {
        width: 50%;
        margin-left: 25%;
    }
}

.Contact-subContainer h1 {
    margin: 0;
    text-align: center;
}

@media (min-width: 768px) {
    .Contact-subContainer h1 {
        font-size: 2.5em;
    }
}

@media (min-width: 1366px) {
    .Contact-subContainer h1 {
        padding-top: 63px;
    }
}

@media (min-width: 1578px) {
    .Contact-subContainer h1 {
        font-size: 3em;
    }
}

.Contact-subContainer > p {
    text-align: center;
}

.Contact-subContainer p {
    font-weight: bold;
}

@media (min-width: 768px) {
    .Contact-subContainer p {
        font-size: 1.2em;
    }
}

@media (min-width: 1578px) {
    .Contact-subContainer p {
        font-size: 1.5em;
    }
}

@media (min-width: 1920px) {
    .Contact-subContainer p {
        font-size: 1.8em;
    }
}

.Contact-header {
    width: 80%;
    margin-left: 10%;
}

@media (min-width: 480px) {
    .Contact-header {
        width: 62%;
        margin-left: 19%;
    }
}

@media (min-width: 768px) {
    .Contact-header {
        width: 50%;
        margin-left: 25%;
    }
}

@media (min-width: 1366px) {
    .Contact-header {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.Contact-header div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Contact-header div:nth-of-type(2) {
    width: 50%;
    margin-left: 25%;
}

.Contact-header svg {
   color: #0C5506;
}

@media (min-width:1366px) {
    .Contact-header div {
        justify-content: unset;
    }

    .Contact-header div:nth-of-type(2) {
        width: auto;
        margin-left: 0;
    }
    
    .Contact-header svg {
       margin-right: 10px;
    }
}


.Contact-header p {
   margin: 10px 0;
}

.Contact-subContainer form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    color: #F5C662;
    background-color: #713320;
    font-weight: 500;
    margin: 8px 0;
    padding-left: 15px;
    height: 30px;

    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


input::placeholder, ::placeholder {
    color: #F5C662;
}

textarea {
    height: 80px;
}

@media (min-width:1366px) {
    input{
        font-size: 0.9em;
    }

    textarea {
        font-size: 1.2em;
        font-weight: 400;
    }
}

@media (min-width:1578px) {
    input{
        font-size: 1.2em;
    }

    textarea {
        font-size: 1.4em;
        font-weight: 400;
    }
}

@media (min-width:1920px) {
    input{
        height: 50px;
        font-size: 1.5em;
    }

    textarea {
        height: 140px;
        font-size: 1.9em;
        font-weight: 400;
    }
}

button {
    margin: 15px 0;
    height: 40px;
    color: #713320;
    background-color: #F5C662;
    font-weight: bold;

    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

@media (min-width:1366px) {
    button {
        font-size: 1em;
    }
}

@media (min-width:1578px) {
    button {
        font-size: 1.2em;
        height: 40px;
    }
}

@media (min-width:1920px) {
    button {
        font-size: 1.5em;
        height: 60px;
    }
}