.Reviews-section {
    background-color: #C54646;
    height: 40vh;
    display: flex;
    align-items: center;
}

@media (min-width:414px) {
    .Reviews-section {
        height: 30vh;
    }
}

@media (min-width:1366px) {
    .Reviews-section {
        height: 70vh;
    }
}

@media (min-width:1578px) {
    .Reviews-section {
        height: 70vh;
    }
}

@media (min-width:1920px) {
    .Reviews-section {
        height: 50vh;
    }
}

.Reviews-section--container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

@media (min-width:1366px) {
    .Reviews-section--container {
        height: 90%;
        width: 100%;
        position: relative;
    }
}
