.Logo {
    color: #991C1E;
    
}

.Logo > h2 {
    margin: 0 10px;
}

@media (min-width: 768px) {
    .Logo > h2 {
        font-size: 2.3em;
    }
}

@media (min-width: 1578px) {
    .Logo > h2 {
        font-size: 2.5em;
    }
}
