.Footer-container {
    height: 30vh;
    background-color: #F5C662;
    color: #713320;
    position: relative;
}

@media (min-width:1200px) {
    .Footer-subContainer {
        padding-top: 30px;
    }
}

.Footer-info--container > div:first-of-type {
    display: none;
}

@media (min-width:1200px) {
    .Footer-info--container {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-left: 10%;
    }

    .Footer-info--container > div {
        width: 40%;
    }

    .Footer-info--container > div:first-of-type {
        display: block;
    }
}

@media (min-width:1578px) {
    .Footer-info--container > div {
        font-size: 1.2em;
    }
}

.Footer-subContainer h2 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

@media (min-width:1200px) {
    .Footer-subContainer h2 {
        text-align: left;
    }
}

.Footer-icons--container {
    color: #991C1E;
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .Footer-icons--container {
        width: 50%;
        margin-left: 25%;
    }
}

@media (min-width: 1200px) {
    .Footer-icons--container {
        width: 80%;
        margin-left: 0;
    }
    
    .Footer-icons--container svg {
        cursor: pointer;
    }
}

@media (min-width: 1578px) {
    .Footer-icons--container {
        width: 60%;
    }

    .Footer-icons--container svg {
        font-size: 2em;
    }
}

.Footer-brand {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

@media (min-width:1578px) {
    .Footer-brand {
        font-size: 1.1em;
    }
}

.Footer-brand p {
    text-align: center;
}

.Footer-brand span {
    text-decoration: underline;
    cursor: pointer;
}