.Header-container {
    height: 60vh;
    background: url('../../assets/images/header_mobile.jpg') 50% 0/ cover no-repeat;
}

.Header-title {
    color: #991C1E;
    text-align: center;
    font-size: 1.8rem;
}

.Header-title span {
    color: #F5C662;
}